.screen2 {
	&__header {
		text-align: left;
		margin-bottom: 50px;
	}
	&__description {
		float: left;
	}
}
@keyframes change_fill {
   0% { fill: #49549E; }
   75% { fill: #82ebda; }
   100% { fill: #1bce4f; }
}

.anim {
   fill: #1bce4f;
   animation: change_fill 1s;
   animation-iteration-count:infinite;
}